body {
  background-color: #34495e;
}

.page-header {
  color: white;
  text-align: center;
}

pre {
  font-size: inherit;
  color: inherit;
  border: initial;
  padding: initial;
  font-family: inherit;
}
