body {
  background-color: #d4d4d4;
}

#main-navbar {
  background-color: #130f40;
}

.page-header {
  color: white;
  text-align: center;
}

.textInheritAll {
  font-size: inherit;
  color: inherit;
  border: initial;
  padding: initial;
  font-family: inherit;
}

.vertical-align-center {
  vertical-align: middle;
}

#Question {
  border-width: 2px;
}

#LoadingCards {
  transition: opacity 1s;
}
